<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="./assets/book.png" alt="Book" width="70" height="70" />
            <img src="./assets/tinylearn.png" alt="TinyLearn" width="120" height="50" />
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/mylearns">My Learns</a>
            <a class="nav-item nav-link" href="/toppages">Top Rated Learns</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Check out your past learns!</h1>
                    <img src="./assets/red-squiggle.png" class="center" alt="underline" width="450" height="45"/>              
                </div>
                <div class="card-body big-bg">
                    <div class="row">
                        {{#each pages}}
                        <div class="col-sm-4">
                            <div class="card myLearnsCard" id="{{dataValues.name}}">
                                <div class="card-header text-center">
                                    <i class="fas fa-thumbtack"></i><i class="fa fa-trash" id="{{dataValues.id}}"></i>
                                    <h4>{{dataValues.name}}</h4>
                                    <div class="myLearnStarsHere">
                                        {{#ifeq dataValues.rating 1}}
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star"></i>
                                            <i class="noClick fas fa-star"></i>
                                            <i class="noClick fas fa-star"></i>
                                            <i class="noClick fas fa-star"></i>
                                        {{/ifeq}}
                                        {{#ifeq dataValues.rating 2}}
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star"></i>
                                            <i class="noClick fas fa-star"></i>
                                            <i class="noClick fas fa-star"></i>
                                        {{/ifeq}}
                                        {{#ifeq dataValues.rating 3}}
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star"></i>
                                            <i class="noClick fas fa-star"></i>
                                        {{/ifeq}}
                                        {{#ifeq dataValues.rating 4}}
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star"></i>
                                        {{/ifeq}}
                                        {{#ifeq dataValues.rating 5}}
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                            <i class="noClick fas fa-star checked"></i>
                                        {{/ifeq}}
                                    </div>
                                    <a href="https://en.wikipedia.org/wiki/{{dataValues.name}}" target="_blank">Learn more!</a>
                                </div>
                            </div>
                        </div>
                        {{/each }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>